:root {
  font-size: 16px;
}
* {
    box-sizing: border-box;
}

body {
  font-family: "Lora", sans-serif;
  
}
h1 {
  color: #f24130;
  font-family: "Open Sans", sans-serif;
}
h2 {
  color: #2f736c;
  font-family: "Open Sans", sans-serif;
}

h4,
h3 {
  color: #73692f;
  font-family: "Open Sans", sans-serif;
}
table {
  width: auto%;
  margin: 20px 10px;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin: 0px 0;
  overflow: auto;
  white-space: normal;
}

th,
td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f0d8;
  color: black;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}
